
/*global properties*/
* {
    box-sizing: border-box;
}

body {
    background-color: #f6f7fb;
    font-family: "Lucida Calligraphy", sans-serif;
    display: flex; /*for centering elements*/
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg{
    background: url("tree.svg")
        no-repeat center center/cover;
    position: absolute;
    top:-30px;
    left: -30px;
    width: calc(100vw + 60px); /*for blurring effect*/
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text {
    font-size: 50px;
    color: #fff;
}